body{
  font-size: 16px;
  color:#fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
#header-nav{
  background-color: #f6b319;
}
#logo-img{
  background: url(../images/restaurant-logo_large.png) no-repeat;
  margin: 10px 15px 10px 0;
  width: 150px;
  height:150px;
}
.navbar-brand a{
  text-decoration: none;
}
.navbar-brand h1{
  font-family: 'Lora', serif;
  color:#557c3e;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}
.navbar-brand p{
  color:#000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span{
  vertical-align: middle;
}
.navbar-collapse {
  justify-content: flex-end;
}
#nav-list a {
  color: #951c49;
  text-align: center;
}
#nav-list a:hover{
  background: #E7E7E7;
}
.navbar-toggler{
  border: 1px solid #61122f;
}
/* END HEADER */

/*********************** lARGE DEVICES ONLY ******************/
@media (min-width: 1200px){

}

/*********************** MEDIUM DEVICES ONLY ******************/
@media (min-width: 992px) and (max-width: 1199px){
  #logo-img{
    background: url(../images/restaurant-logo_medium.png) no-repeat;
    margin: 5x 5px 5px 0;
    width: 100px;
    height:100px;
  }
}
/*********************** SMALL DEVICES ONLY ******************/
@media (min-width: 768px) and (max-width: 991px){
  #logo-img{
    background: url(../images/restaurant-logo_small.png) no-repeat;
    margin: 10px 15px 10px 0;
    width: 50px;
    height:50px;
  }
}
/*********************** EXTRA SMALL DEVICES ONLY ******************/
@media (max-width: 767px){
  #logo-img{
    display: none;
  }
  .navbar-brand{
    height: 80px;
  }
  .navbar-brand h1{
    font-size: 4vw;
    margin-top: 15px;
  }
  .navbar-brand p{
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img{
    height: 20px;
  }
  #nav-list a {
    color: #951c49;
    text-align: center;
    font-size: 1.2em;
  }
  #nav-list span{
    vertical-align: middle;
    font-size: 1em;
    margin-right: 5px;
  }
}